$brand-primary: #414141;
$brand-secondary: #DAA520;

$brand-primary-dark: darken($brand-primary, 10%);
$brand-primary-light: lighten($brand-primary, 10%);
$brand-secondary-dark: darken($brand-secondary, 10%);
$brand-secondary-light: lighten($brand-secondary, 10%);

$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%);
$gray-dark:              #666;
$gray:                   #777;
$gray-light:             #AEA79F;
$gray-lighter: lighten($gray-base, 93.5%);

//.o_home_menu_background {
//    background: url(/odoo_web_login/static/src/img/back-5.png) no-repeat fixed center;;
//}

.o_home_menu_background {
    background: #9A9A9E;
    background: -moz-linear-gradient(top,  #9A9A9E 24%, #2c2c2c 56%, #9A9A9E 74%);
    background: -webkit-linear-gradient(top,  #9A9A9E 24%,#2c2c2c 56%,#9A9A9E 74%);
    background: linear-gradient(to bottom,  #9A9A9E 24%,#2c2c2c 56%,#9A9A9E 74%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9A9A9E', endColorstr='#9A9A9E',GradientType=0 );    
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
.o_home_menu_background::before {
    content: "";
    position: absolute;
    right: 10%;
    width: 400px;
    height: 244px;
    background: url(../img/rya.png) no-repeat;
    right: 5%;
    top: 50%;
    background-size: contain;
    margin-top: -122px;
}

//#465F93
//#3E3E40

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 160, 157, 0.5);
}

.btn-primary {

    color: #fff;
    background-color: $brand-secondary;
    border-color: $brand-secondary-light;

}

.btn-primary:hover {

    color: #fff;
    background-color: $brand-secondary-dark;
    border-color: $brand-secondary-light;
}

.btn-secondary {
    border: none;
    color: $brand-secondary;
}

.btn:active, .btn.active {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #eee !important;
}

.o_control_panel > .breadcrumb > li > a {
    color: $brand-secondary !important;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled {
    color: $brand-primary;
}

.o_arrow_button:not(.disabled):hover, .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(.disabled):active, .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(.disabled):focus {
    color: $brand-secondary;
}

.o_form_view {
    .o_form_uri {
        display: inline-block;
        color: $brand-secondary;

        &:hover {
            color: darken($brand-secondary, 15%);
        }
    }
}


.o_home_menu .o_home_menu_scrollable .o_apps .o_app .o_app_icon {
    width: 100%;
    max-width: 100px;
}

.o_main_navbar {
    background-color: #414141;
}

//.o_main_navbar > a:hover, .o_main_navbar > a:focus, .o_main_navbar > button:hover, .o_main_navbar > button:focus {
//    background-color: $brand-primary-light;
//    color: inherit;
//}


.tooltip .tooltip-inner .oe_tooltip_string {
    background-color: $brand-primary;
}

.o_loading {
    background-color: $brand-primary;
}

.o_main_navbar {
    background-color : $brand-primary;
}

.o_main_navbar > a:hover, .o_main_navbar > a:focus, .o_main_navbar > button:hover, .o_main_navbar > button:focus {
    background-color: $brand-primary-dark;
    color: inherit;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(.disabled):hover {
    color: $brand-primary;
}

.o_dropdown_toggler_btn, .o_dropdown_toggler_btn:hover, .o_dropdown_toggler_btn:focus, .o_dropdown_toggler_btn:hover, .o_dropdown_toggler_btn:focus, .btn-icon, .o_graph_button {
    text-transform: none !important;
    color: $gray-dark !important;
    background-color: transparent !important;
    border: none !important;
}


.o_main_navbar > ul > li > a:hover, .o_main_navbar > ul > li > label:hover {
    background-color: $brand-primary-dark;
}

.o_main_navbar .show .dropdown-toggle {
    background-color: $brand-primary-dark;
}

.o_kanban_view .oe_kanban_color_11::after {
    background-color: $brand-primary;
}

.btn-link {
    @include o-hover-text-color($brand-secondary, $brand-secondary-dark);
}
